body {
    background-color: whitesmoke;
    padding: 0%;
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}
header{
    background-color: whitesmoke;
    padding: 5px;
    box-shadow:grey 2px 2px 2px;
    position: fixed;
    top: 0%;
    right: 0%;
    left: 0%;
}
.desktop-header{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.m-nav-keys, .m-nav-wrapper{
    display: none;
}
main{
    padding: 20px 30px;
}
main h1{
    text-align: center;
    font-size: 2rem;
}
a{
    color : rgb(73, 59, 59);
    text-decoration: none;
    font-size: 1.1rem;
}
a:hover{
    color : red;
}
.name-wrapper{
    margin-left: 20px;
    font-size: 1.5rem;
    font-weight: bolder;
    text-shadow: grey 1px 1px;
}
.nav-wrapper ul{
    display: inline-flex;
    list-style-type: none;
}
.nav-wrapper ul li{
    margin: 2px;
    padding: 7px;
}
.m-nav-wrapper{
    background-color: whitesmoke;
    position: absolute;
    right: 0%;
    left: 0%;
}
.m-nav-wrapper ul{
    list-style-type: none;
    padding: 2%;
    padding-top: 10px;
}
.m-nav-wrapper ul li{
    margin: 20px 10px;
}
.bio-container{
    margin-top: 10%;
}
.bio-wrapper{
    display: inline-flex;
}
.bio-image{
    width: 20%;
}
.bio-image img{
    border-radius: 2%;
    box-shadow: grey 2px 2px 2px;
    width: 100%;
}
.bio-description{
    padding: 10px 30px;
    font-size: 1rem;
    line-height: 40px;
    width: 80%;
}
.all-tools-container{
    display: inline-flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    
}
.tool-card{
    padding: 0%;
    margin: 10px;
    text-align: center;
    box-shadow: grey 2px 2px 2px;
    font-size: 1rem;
}
.tool-card div img{
    width: 10rem;
    height: 8rem;
}
.card-label{
    padding: 10px;
}
.skill-card div img{
    width: 15rem;
}
.past-work-card{
    display: inline-block;
    width: 20%;
}
.past-work-card h3{
    margin: 1px;
    padding: 2px;
}
.past-work-card div img{
    width: 100%;
    height: 12rem;
}
.past-work-card a{
    display: block;
    padding: 10px;
}
.ex-container ul li ul{
    list-style-type: none;
}
.ex-container ul li{
    margin: 40px 10px;
    font-weight: bolder;
    font-size: 1.2rem;
}
.ex-container ul li ul li{
    font-weight: normal;
    margin: 5px;
    font-size: 1rem;
}
.contact-cards{
    display: inline-block;
}
.footer-wrapper{
    background-color: whitesmoke;
    padding: 30px;
    text-align: center;
    font-weight: bolder;
}
.link-icons{
    font-size: 1.5rem;
    margin: 5px;
    font-weight: bolder;
}
@media screen and (max-width : 1200px){
    .past-work-card{
        display: inline-block;
        width: 40%;
    }
}
@media screen and (max-width : 1000px) {
    .bio-image{
        width: 35%;
    }
    .bio-description{
        width: 65%;
    }
}
@media screen and (max-width : 900px) {
    .nav-wrapper ul{
        display: none;
    }
    .header-wrapper{
        display: inline-flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding: 10px 0%;
    }
    .m-nav-keys{
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        margin-right: 20px;
    }
    #hide-btn{
        display : none;
    }
    .contact-cards{
        font-size: 0.6rem;
    }
}
@media screen and (max-width : 800px) {
    .bio-image{
        width: 40%;
    }
    .bio-description{
        width: 60%;
        font-size: 0.8rem;
    }
}
@media screen and (max-width : 750px) {
    .all-tools-container{
        margin: 0%;
        padding: 0%;
    }
    .bio-wrapper{
        display: block;
    }
    .bio-image{
        width: 100%;
    }
    .bio-image img{
        height: 25rem;
    }
    .bio-description{
        width: 100%;
        font-size: 1rem;
        padding-top: 20px;
    }
    .tool-card div{
        font-weight: bolder;
        font-size: 0.8rem;
    }
    .tool-card div img{
        width: 8rem;
    }
    .past-work-card{
        display: block;
        width: 100%;
    }
    .past-work-card div a{
        font-weight: normal;
    }
    .past-work-card div img{
        display: inline-block;
        width: 100%;
        height: 20rem;
    }
    .contact-cards{
        width: 20%;
    }
}
@media screen and (max-width : 500px){
    header{
        height: auto;
    }
    .name-wrapper{
        font-size: 1rem;
        margin-left: 5px;
    }
    .bio-container{
        padding: 10px;
    }
    .all-tools-container{
        display: block;
        width: 100%;
    }
    .tool-card{
        display: block;
        width: 100%;
    }
    .tool-card div{
        font-weight: normal;
        font-size: 1rem;
    }
    .tool-card div img{
        width: 100%;
        height: 10rem;
    }
    .all-tools-container{
        text-align: center;
    }
    .contact-cards{
        /* display: block; */
        /* background-color: red;
        display: inline-block;
        width: 10%; */
        /* display: block; */
        /* width: auto;
        padding: 10px;
        margin : 0% 10px; */
    }
    main h1{
        text-align: center;
        font-size: 1.7rem;
        margin-bottom: 20px;
    }
    .bio-image img{
        height: 15rem;
    }
    .bio-description{
        padding: 10px 0%;
        font-size: 1rem;
        line-height: 30px;
        width: 100%;
    }
    .all-tools-container{
        margin: 0%;
        padding: 0%;
        text-align: center;
        padding: 5px;
    }
    .tool-card{
        margin: 25px 0%;
    }
    .past-work-card{
        display: block;
        width: 100%;
    }
    .ex-container ul{
        padding: 20px;
    }
    .ex-container ul li{
        font-size: 1rem;
        margin: 0%;
        margin-bottom: 20px;
    }
    .ex-container ul li ul{
        padding: 0%;
    }
}